.navbar-light .navbar-nav .nav-link {
  color: #fcfdfc;
  font-size: 20px;
}

.navbar-light .navbar-brand {
  color: #fcfdfc;
  font-size: 20px;
  animation: rotate-scale 12s infinite;
  font-weight: 900;
}

.navbar-toggler {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  animation: rotate-scale 12s infinite;
  color: #f4f6f7;
}

@keyframes rotate-scale {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}

.navbar-nav {
  flex-direction: row;
}
.navbar {
  padding: 10px;
}
.nav-item {
  margin-left: 50px; /* Adjust spacing between items */
  margin-right: 50px; /* Adjust spacing between items */
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem; /* Adjust padding if needed */
}

@media (max-width: 900px) {
  /* Navbar.css */
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-left: 20px; /* Adjust spacing between items */
    margin-right: 20px; /* Adjust spacing between items */
  }

  .navbar-nav .nav-link {
    padding: 0.5rem 1rem; /* Adjust padding if needed */
  }
}
