.project-item {
  align-items: center;
  color: white;

  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.project-details {
  flex: 1;
}
.h1 {
  color: white;
}
.project-links a {
  margin-right: 10px;
}
.project-image {
  width: 90%; /* Ensure the image fills the column */
  height: auto; /* Maintain aspect ratio */
  border-radius: 30px;
  animation: swing 12s infinite; /* Apply animation infinitely */
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.linkb:hover {
  background-color: gray;
  animation: bounce 2s infinite;
}
.linkb {
  background-color: rgb(105, 105, 105);
  border: none;

  color: white;
}
